# basics
__pycache__/
*.pyc
*.pyo
*.pyd

# environments
.venv/
env/
venv/
ENV/

# secrets
.env
*.env
.DS_Store

# mkdocs
site/

# terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
.terraform.tfstate.lock.info
