[Unit]
Description=Status API
After=network.target

[Service]
# User & Group
User=adminsetup
Group=adminsetup

# Working Directory
WorkingDirectory=/home/adminsetup/platform-engineering

# env.
Environment="APP_ENV=production"

# Python-Interpreter  VENV
ExecStart=/home/adminsetup/platform-engineering/.venv/bin/python app.py

# Restart Logic
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
