[Unit]
Description=Watchdog Kubelet (Status API)
After=network.target docker.service
Requires=docker.service

[Service]
# User & Group
User=adminsetup
Group=adminsetup

# Working Directory
WorkingDirectory=/home/adminsetup/infrastructure-lab

# from deploy.sh
EnvironmentFile=/home/adminsetup/infrastructure-lab/.env

ExecStart=/usr/bin/python3 scripts/watchdog.py

# Restart Logic
Restart=always
RestartSec=5s
StartLimitIntervalSec=60
StartLimitBurst=5

# Security Hardening
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=true
ReadWritePaths=/home/adminsetup/infrastructure-lab

[Install]
WantedBy=multi-user.target